@import '../../../../styles/settings/colors';
@import '../../../../styles/base';

.sidebar{
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 56px;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 10;
}

.hidden {
  display: none;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  & img {
    height: 20px;
  }
}

.toggle {
  margin: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  flex-direction: row;
  align-items: center;
}

.sidebarHeader {
  display: flex;
  width: 170px;
  height: 60px;
  justify-content: flex-start;
  align-items: center; 
  margin-left: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.header {
  height: 32px;
  font-size: 24px;
  font-weight: 500;
  padding-left: 24px;
  flex: 1;
}

.closeIcon {
  width: 32px;
  height: 32px;
  margin: 8px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin-top: 16px;
}

.medium {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.selectedMenu {
  background-color: $color-grey-link;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;
}

.iconWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 56px;
  height: 55px;
  text-decoration: none;
}

.linkWrapper, .chevronWrapper {
  display: flex;
  align-items: center;
}

.linkWrapper {
  flex: 1;
}

.chevronWrapper {
  margin: 8px;
}

.menuItem {
  padding: 0px 8px;
  flex: 1;
}

.text {
  composes: content;
  color: #fff;
}

.withMargin {
  margin-bottom: 5px;
}

.iconLogo {
  height: 24px;
}

.icon {
  height: 17px;
}

.toggleIcon {
  height: 30px;
}

.iconSelected {
  height: 17px;
  filter: invert(1);
}
