@import '../../styles/mixins/responsive';

.container {
  display: flex;
  flex-direction: row;

  @include respond-to(md) {
    flex-direction: column;
  }
}

.menuWrapper {
  @include respond-to(md) {
    position: static;
    margin-bottom: 16px;
  }
}