$color-white: #ffffff;

$color-light-grey: #f2f2f2;

$color-grey: #eee;

$color-pale-grey: #f7f8f9;

$color-grey-link: #e7eaed;

$color-grey-darker: #dcdcdc;

$color-dark-grey: #676767;

$color-super-dark-grey: #333;

$color-grey-transparent: rgba(229, 229, 229, .8);

$color-grey-adjoy: rgba(203, 203, 203, 0.9);

$color-select: #949ba5;

$color-black: rgba(0, 0, 0, .9);

$color-black-transparent: rgba(0, 0, 0, .05);

$color-green: #5cd07c;

$color-purple: #4149fa;

$color-blue: #2d5fe6;

$color-puprle-inverted: #beb605;

$color-light-blue: #63cef5;

$color-red: #eb4962;

$color-yellow: #EAC00E;

$shadow-1: 0 1px 2px 0 rgba(0, 0, 0, .1);

$shadow-2: 0 5px 20px 0 rgba(0, 0, 0, .2);

$shadow-3: 0 10px 20px 0 rgba(0, 0, 0, .1);

$shadow-button-primary: 0 2px 4px 0 rgba(115, 210, 141, .3);

$shadow-button-text: 0 0 2px rgba(0, 0, 0, .11);

$card-length-mobile: calc(100vw - 60px);
