@import '../../styles/settings/colors';
@import '../../styles/mixins/responsive';

$border-radius-table-cell: 6px;

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
  border-radius: $border-radius-table-cell;
  border: 1px solid transparent;

  @include respond-to(md) {
    margin-top: 8px;
  }
}

